* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: rgb(232, 163, 224);
}

.container {
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;

   @media screen and (min-width: 320px) {
    max-width: 460px;
  }
  
  @media screen and (min-width: 768px) {
      max-width: 768px;
  }
  
  @media screen and (min-width: 1200px) {
    max-width: 1100px;
  } 
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input[name="card"] {
  display: none;
}

.slider {
  width: inherit;
  height: inherit;
  overflow: hidden;
}

.cards {
  display: flex;
  width: 400%;
  height: 100%;
}

.cards__item {
  width: 25%;
  transition: all 600ms ease-in-out;
}

.controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.dot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: rgb(186, 194, 18);
  cursor: pointer;
  opacity: 0.8;
  transition: all 250ms linear;
}

.dot:hover {
  opacity: 1;
  transform: scale(1.1);
}

.dot__point {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px;
  background-color: rgb(14, 193, 243);
}

.wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 20px 30px;
}

@media screen and (max-width: 767px) {
  .wrap {
    flex-direction: column-reverse;
    justify-content: flex-start;
  }
}

.overflow {
  width: 150px;
  height: 50px;
  overflow: hidden;
}

.titles {
  display: flex;
  width: 400%;
  height: 100%;
 
}

.title {
  width: 25%;
  padding: 10px;
  transition: all 600ms ease-in-out;
}

.inner {
  display: inline-block;
  max-width: 250px;
  font-size: 35px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  opacity: 0.8;
  transition: all 250ms linear;
}

@media screen and (max-width: 767px) {
  .inner{
    text-align: left;
  }
}

.inner:hover {
  opacity: 1;
  color:aqua;
}

#winter:checked ~ .cards > .active {
  margin-left: 0;
}

#spring:checked ~ .cards > .active {
  margin-left: -25%;
}

#summer:checked ~ .cards > .active {
  margin-left: -50%;
}

#autumn:checked ~ .cards > .active {
  margin-left: -75%;
}

#winter:checked ~ .wrap > .overflow > .titles > .title--active  {
  margin-left: 0;
}

#spring:checked ~ .wrap > .overflow > .titles > .title--active  {
  margin-left: -25%;
}

#summer:checked ~ .wrap > .overflow > .titles > .title--active {
  margin-left: -50%;
}

#autumn:checked ~ .wrap >  .overflow > .titles > .title--active {
  margin-left: -75%;
}

#winter:checked ~ .wrap > .controls > .dot:nth-child(1) {
  opacity: 1;
  transform: scale(1.1);
}

#spring:checked ~ .wrap > .controls > .dot:nth-child(2) {
  opacity: 1;
  transform: scale(1.1);
}

#summer:checked ~ .wrap > .controls > .dot:nth-child(3) {
  opacity: 1;
  transform: scale(1.1);
}

#autumn:checked ~ .wrap > .controls > .dot:nth-child(4) {
  opacity: 1;
  transform: scale(1.1);
}

 