body {
    background-color: rgb(180, 130, 186);
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .container {
    background-color: rgb(24, 25, 27);
    overflow: hidden;
  }

  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .cards {
    display: flex;
    width: 400%;
    height: 100%;
  }

  .cards__item {
    width: 25%;
    transition: all 250ms linear;
  }

  .navigation {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 20px 40px 30px;
  }

  .label {
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    opacity: 0.5;
    transition: all 250ms linear;
    
  }

  .label:hover {
    opacity: 1;
    transform: scale(1.3);
  }

  .dots {
    display: flex;
    justify-content: center;
    align-items: center;
   
  }

  .dot {
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: 0.5;
    transition: all 250ms linear;
  }

  .dot:hover {
    opacity: 1;
    transform: scale(1.1);
  }
 